@import "tailwindcss";

@media screen and (max-width:450px) {
    .btn-group {
        flex-direction: column;
    }
}

.work-space {
    width: 80%;
    margin-top: 10%;
}

.siderbar {
    position: absolute;
    top: 0;
    left: -1%;
   
}

.siderbar::-webkit-scrollbar {
    display: none;
}

.close-sidebar {
    position: absolute;
    left: -90%;
  
}

.work-space::-webkit-scrollbar {
    display: none;
}